# Ignore everything
*
# But not these files...
!.gitignore
!bash/**
!tmux/tmux.conf
!tmux/setup.sh
!tmux/plugins/tpm
!scripts/*
!nano/*
!x11/**
!git/*
!vscode/*
!starship.toml
#directory catchall
!*/


tmux/plugins/tmux-sensible/
tmux/plugins/tmux/
