# Ignore everything
*
# But not these files...
!README.md
!.gitignore
!bash/**
!tmux/tmux.conf
!tmux/setup.sh
!tmux/plugins/tpm
!scripts/*
!nano/*
!x11/**
!git/*
!vscode/*
!Terminal/*
!starship.toml
!Brewfile
#directory catchall
!*/

.gitmodules
tmux/plugins/tmux-sensible/
tmux/plugins/tmux/
